@use 'variaveis';
@use 'header';
@use 'banner';
@use 'footer';
@use 'info';

// font import
@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}


// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}


// text
@mixin text($fontSize: 1em) {
    font-size: $fontSize;
    line-height: 24px;
    color: variaveis.$bodyTextColor;
}

.text--big {
    @include text(1.125em);
}
.text {
    @include text();
}
.text--small{
    @include text(12px);
    color: variaveis.$navTextColor;
}
.text--bold {
    @include text();
    font-weight: 700;
}
.text--nav {
    @include text(17px);
    font-weight: 700;
    color: variaveis.$navTextColor;
    text-transform: uppercase;
}


// title
.title {
    font-size: 2.25rem;
    line-height: 40px;
    color: variaveis.$bodyTextColor;

    @media (max-width: 640px) {
        font-size: 1.25rem;
    }
}