@use 'variaveis';
@use 'header';
@use 'footer';

// font import
@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}


// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}


// text
@mixin text($fontSize: 1em) {
    font-size: $fontSize;
    line-height: 24px;
    color: variaveis.$bodyTextColor;
}

.text--big {
    @include text(1.125em);
}
.text {
    @include text();
}
.text--nav {
    @include text(14px);
    font-weight: 700;
    color: variaveis.$navTextColor;
    text-transform: uppercase;
}


// title
.title {
    font-size: 2.25rem;
    line-height: 40px;
    color: variaveis.$bodyTextColor;
}
